name: tests

on:
  push:
    branches:
      - '*'
      - '!main'

jobs:
  windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.2
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Run Tests
        run: task test:windows

  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.2
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Run Tests
        run: task test:linux

  linux-slim:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.2
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Run Tests
        run: task test:linux-slim

  # osx:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Repo
  #       uses: actions/checkout@v6.0.2
  #     - name: Install Task
  #       uses: arduino/setup-task@v2
  #       with:
  #         version: 3.x
  #     - name: Run Tests
  #       run: task test:osx
